* {
    font-family: 'Poppins' , sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    margin: 42px 5px 50px 50px;
}

.link-header {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.875px;
    color: #17233D;
    margin-left: 42px;
    cursor: pointer;
}
.button-header {
    background: #6FBF44;
    border: 1px solid #4CB538;
    border-radius: 6px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;   
    letter-spacing: 1px;  
    color: #FFFFFF;
    margin-left: 42px;
    cursor: pointer;
    width: 121px;
    height: 51px;
    
}

.image {
    display: inline-block;
    margin-left: 30px;
    width: 595.18px;
    height: 500px;
    left: 121px;
    top: 246px;
    
}

section {
    display: inline-block;
    margin-left: 80px;
}

h1 {
    font-weight: 700;
    font-size: 62px;
    line-height: 82px;
    letter-spacing: 0.596154px;
    color: #161A49;
    width: 582px;
}

p {
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    letter-spacing: 0.5px;
    color: #4B505A;
    width: 493px;
    margin-top: 47px;
    margin-bottom: 55px;
}

.button-main {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 1px;
    color: #6FBF44;
    cursor: pointer;
}